# Visual Code files
.vscode

# Bot files
Bot/saves/*
Bot/log.txt

# Model_Augmentation files
Model_Augmentation/__pycache__/
Model_Augmentation/.working_dir
Model_Augmentation/*.txt
Model_Augmentation/dataset/Dataset_synth/*
Model_Augmentation/dataset/FELICE_demo7/*
Model_Augmentation/dataset/FELICE_demo7_extended/*
Model_Augmentation/dataset/GoogleSpeechCommands/*
Model_Augmentation/dataset/sync.ffs_db
Model_Augmentation/fsd/noise_set/*
Model_Augmentation/apex
Model_Augmentation/models/*
Model_Augmentation/nemo_experiments/*
Model_Augmentation/pretrain_models/*
Model_Augmentation/manifests/*.csv
Model_Augmentation/manifests/*.json
Model_Augmentation/db_test.csv

# ROS files
ROS/speech_ws/build
ROS/speech_ws/devel
ROS/speech_ws/logs
ROS/speech_ws/src/sender_app
ROS/speech_ws/src/receiver_app
ROS/speech_ws/src/speech_pkg/experiments
ROS/speech_ws/src/speech_pkg/src/__pycache__


# TTS files


# speech detected from VAD file
detected_voices/


# General files
*.zip
*.rar
*.wav
*.pyc
