# Visual Code files
.vscode

# Bot files
./Bot/saves/*
*.zip
*.rar

# Model_Augmentation files
./Model_Augmentation/__pycache__/
./Model_Augmentation/.working_dir
./Model_Augmentation/*.txt
./Model_Augmentation/dataset/*
*.wav
./Model_Augmentation/fsd/noise_set/*
./Model_Augmentation/apex
./Model_Augmentation/models/*
./Model_Augmentation/nemo_experiments/*
./Model_Augmentation/pretrain_models/*


# TTS files
