#video_feed > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    /* height: 88vh; */
}

#video_feed {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}

#speech_popup {
    background-color: #AED3E3;
    height: 7vh;
    margin-left: 18.8vw;
    margin-right: auto;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0 0 2vh 2vh;
    width: 73vw;
}