<launch>
    <arg name="lang" default="ita"/>
    <arg name="demo" default="3"/>
    
    <arg name="some_path" default="$(find firos)/config_demo" />
    <arg name="node_name" default="firos" />

    <param name="vad" type="str" value="webrtcvad" />

    <node name="classifier" pkg="speech_pkg" type="speech_classification_node.py" output="screen" args="--lang $(arg lang) --demo $(arg demo)"/>
    <node name="manager" pkg="speech_pkg" type="manager_node.py" output="screen" args="--demo $(arg demo)"/>
    <node name="speech_detection_node" pkg="speech_pkg" type="speech_detection_node.py" output="screen"/>
    <node name="microphone_node" pkg="speech_pkg" type="microphone_node.py"/>
    
    <include file="$(find firos)/launch/firos.launch">        
      <arg name="some_path" default="$(arg some_path)"/>
      <arg name="node_name" default="$(arg node_name)"/>
    </include>
    
</launch>